
    p{
        font-size: 1.25rem;
    }

    hr{
        width: 100%;
        border: 2px solid;
    }

    .dropdown-divider{
        width: 75%;
        margin: auto;
        border: 1px solid;
    }

    .navbar {
        min-height: 5rem;
        background-color: lightblue;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .flex-fill{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .form-control{
        width: 75%;
    }

    .container{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .row-book-container{
        padding-bottom: 2rem;
    }

    .book-cover{
        width: 250px;
        height: 250px;
        object-fit: cover; 
        margin: auto;
    }

    .separator{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .pricing-add{
        width: 75%;
        justify-content: space-around; 
    }

    .btn{
        font-size: 1.25rem;
    }

    .book-desc{
        text-align: justify;
        font-size: 1.125rem;
    }

    .btn-sub{
        background-color: #4db6ac;
        color: #ffffff;
        margin: 0rem 2rem;
    }
    
    .btn-sub:hover{
        background-color: #1c8a7f;
        color: #ffffff;
    }