
.shelfimg img {
    border-radius: 10px;

}

.authorimg img {
    border-radius: 100%;

}

.card:hover {
  background-color: grey;
}

.btn-pro {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  textAlign: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.btn-pro1 {
  background-color: white; 
  color: Gray; 
  border: 2px solid #E3ECEB;
}

.btn-pro1:hover {
  background-color: #E3ECEB;
  color: black;
}