/* Book Display CSS */

.row-book-container{
    padding-bottom: 2rem;
}

.book-cover{
    width: auto;
    height: 250px;
    margin: auto;
    object-fit: cover;
}

.separator{
    padding: 0rem 1rem;
}

.pricing-add{
    width: 75%;
    justify-content: space-between;
}