
    p{
        font-size: 1.25rem;
    }

    hr{
        width: 100%;
        border: 2px solid;
    }

    .dropdown-divider{
        width: 75%;
        margin: auto;
        border: 1px solid;
    }

    .navbar {
        minHeight: 5rem;
        background-color: lightblue;
        paddingLeft: 2rem;
        padding-right: 2rem;
    }

    .flex-fill{
        paddingLeft: 2rem;
        padding-right: 2rem;
    }

    .form-control{
        width: 75%;
    }

    .container{
        paddingTop: 2rem;
        padding-bottom: 2rem;
    }

    .row-book-container{
        padding-bottom: 2rem;
    }

    .book-cover{
        width: auto;
        height:250px;
        margin: auto;
    }

    .separator{
        paddingLeft: 1rem;
        padding-right: 1rem;
    }

    .pricing-add{
        width: 75%;
        justify-content: space-between;
    }

    .btn{
        font-size: 1.25rem;
    }

    .book-desc{
        textAlign: justify;
        font-size: 1.125rem;
    }