* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v18_12 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_13 {
  width: 184px;
  height: 900px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_14 {
  width: 100%;
  height: 99px;
  background: rgba(245,201,88,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v18_16 {
  width: 134px;
  height: 59px;
  background: url("../images/v18_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1135px;
  overflow: hidden;
}
.v18_17 {
  width: 134px;
  height: 53px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_18 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 21px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v18_19 {
  width: 117px;
  height: 117px;
  background: url("../images/v18_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 1296px;
  border-top-left-radius: 368px;
  border-top-right-radius: 368px;
  border-bottom-left-radius: 368px;
  border-bottom-right-radius: 368px;
  overflow: hidden;
}
.v18_20 {
  width: 75px;
  color: rgba(97,93,93,1);
  position: absolute;
  top: 126px;
  left: 13px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v18_21 {
  width: 167px;
  height: 39px;
  background: rgba(245,201,88,1);
  opacity: 1;
  position: absolute;
  top: 506px;
  left: 9px;
}
.v18_22 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 160px;
  left: 13px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v18_23 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 37px;
  left: 1052px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v18_24 {
  width: 105px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 204px;
  left: 13px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v18_25 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 249px;
  left: 13px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v18_26 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 293px;
  left: 18px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v18_27 {
  width: 84px;
  color: rgba(97,93,93,1);
  position: absolute;
  top: 477px;
  left: 13px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v18_28 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 509px;
  left: 13px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v18_29 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 553px;
  left: 13px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v18_30 {
  width: 143px;
  height: 74px;
  background: url("../images/v18_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 826px;
  left: 20px;
  overflow: hidden;
}
.v18_31 {
  width: 143px;
  height: 57px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_32 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 25px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v18_34 {
  width: 193px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 112px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v18_47 {
  width: 358px;
  height: 330px;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 16%;
}
.v18_52 {
  width: 358px;
  height: 53px;
  background: rgba(245,201,88,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v18_53 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 96px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v18_188 {
  width: 143px;
  height: 57px;
  border:none;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 150px;
  left: 107.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v18_188:hover{
  opacity:0.6;
  transition: 0.5s;
}

.v18_190 {
  width: 94px;
  color: white;
  position: absolute;
  top: 11px;
  left: 25px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}


.v18_192:hover{
  opacity:0.6;
  transition: 0.5s;
}
.v18_192 {
  width: 143px;
  height: 57px;
  background: rgba(245,201,88,1);
  border:none;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 107.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_193 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 4px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v18_194 {
  width: 358px;
  height: 330px;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 44.2%;
}
.v18_195 {
  width: 358px;
  height: 53px;
  background: rgba(245,201,88,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v18_196 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 96px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v18_198 {
  width: 143px;
  height: 57px;
  border:none;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 150px;
  left: 107.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_198:hover{
  opacity:0.6;
  transition:0.5s;
}
.v18_199 {
  width: 94px;
  color: white;
  position: absolute;
  top: 11px;
  left: 25px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v18_201 {
  width: 143px;
  height: 57px;
  border:none;
  background: rgba(245,201,88,1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 107.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v18_201:hover{
  opacity:0.6;
  transition:0.5s;
}
.v18_202 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 4px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v18_203 {
  width: 358px;
  height: 330px;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 72.5%;
}
.v18_204 {
  width: 358px;
  height: 53px;
  background: rgba(245,201,88,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v18_205 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 96px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v18_207 {
  width: 143px;
  height: 57px;
  border:none;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 150px;
  left: 107.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v18_207:hover{
  opacity:0.6;
  transition:0.5s;
}
.v18_208 {
  width: 94px;
  color: white;
  position: absolute;
  top: 11px;
  left: 25px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v18_210 {
  width: 143px;
  height: 57px;
  border:none;
  background: rgba(245,201,88,1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 107.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v18_210:hover{
  opacity:0.6;
  transition:0.5s;
}
.v18_211 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 4px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.genReport {
  width: 345px;
  color: rgba(97,93,93,1);;
  position: absolute;
  top: 200px;
  left: 280px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.format {
  width: 345px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 140px;
  left: 280px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.formatInput {
  width: 100px;
  height: 42px;
  padding-left: 10px;
  color: rgba(0,0,0,1);
  font-family: Marvel;
  font-weight: Bold;
  font-size: 25px;
  border: none;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 380px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.from {
  width: 345px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 235px;
  left: 280px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.frominput {
  width: 190px;
  height: 42px;
  padding-left: 10px;
  color: rgba(0,0,0,1);
  font-family: Marvel;
  font-weight: Bold;
  font-size: 25px;
  border: none;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 410px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.until {
  width: 345px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 235px;
  left: 650px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.untilinput {
  width: 190px;
  height: 42px;
  padding-left: 10px;
  color: rgba(0,0,0,1);
  font-family: Marvel;
  font-weight: Bold;
  font-size: 25px;
  border: none;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 780px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.stockReport {
  width: 345px;
  color: rgba(97,93,93,1);;
  position: absolute;
  top: 300px;
  left: 280px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.field {
  width: 345px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 335px;
  left: 280px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.fieldInput {
  width: 200px;
  height: 42px;
  padding-left: 10px;
  color: rgba(0,0,0,1);
  font-family: Marvel;
  font-weight: Bold;
  font-size: 25px;
  border: none;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 350px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.order {
  width: 345px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 335px;
  left: 590px;
  font-family: Marvel;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.orderInput {
  width: 200px;
  height: 42px;
  padding-left: 10px;
  color: rgba(0,0,0,1);
  font-family: Marvel;
  font-weight: Bold;
  font-size: 25px;
  border: none;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 710px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}